In [1]:
import glob
import pandas as pd

In [4]:
#List of dictionaries to build file by file adn later convert to a DataFrame
df_list = []
for ebert_review in glob.glob('ebert_reviews/*.txt'):
    with open (ebert_review, encoding='utf-8') as file:
        title = file.readline()[:-1]
        
        #Append to list of dictionaries
        df_list.append({'title:title'})
        
df = pd.DataFrame(df_list, columns = ['title'])

In [5]:
df.head()

         title
0  title:title
1  title:title
2  title:title
3  title:title
4  title:title